body {
    background-color: #1e1d2b;
}
header {
    height: 100px;
    width: 100%;
    display: flex;
    padding: 1px;
}
 
 
#logo {
    width: 50%;
   
    list-style: none;
    padding: 10px;
    margin-left:40px ;
   
   
}
#logo a{
    color:#ff702a;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
   
}
#menu{
    float: right;
    width:50%
}
 
 
 
 
#menu ul {
    width:100%;
    list-style: none;
    padding: 10px;
    margin:6px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
 
 
}
#menu li {
    margin:0;
}
#menu a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
 
 
}
#bodyuno{
    min-height: 90vh;
    display: flex; 
 
 
}
 
 
.boton {
    width: 215px;
    height: 55px;
    padding: 5px;
    background-color: #ff702a;
    border: 0px solid #ff702a;  
    display: inline-block;   
    margin-top: 10px;
    border-radius: 10px;   
   
}
.boton a{
   
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color:white;  
 
 
}
.boton:hover{
    transform: scale(1.2);
    transition: .4s;
}
 
 
#cajauno{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    text-align: left;
    padding: 100px;
   
}
 
 
#cajauno h1{
    font-size: 90px;
    color:#ff702a;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin-bottom: 0;
    
   
}
 
 
#cajauno.boton{
    text-align: left;
}
 
#texto{
    width:max-content;
    height: max-content;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color:white;
}
#cajados{
    display:flex;
    width:50%;
    height:fit-content;
}
#bodydos{
    min-height: 90vh;
    display: flex; 
}

#cajaimagen{
    display:flex;
    width:50%;
    height:fit-content;
    margin-left: 30px;
    padding-left: 100px;
    
}
#cajatexto{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    text-align: left;
    padding: 100px;
}
#cajatexto h3{
    font-size: 30px;
    color:white;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin-bottom: 0;
}
#cajatexto h1{
    font-size: 90px;
    color:#ff702a;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin-bottom: 0;
}
#cajatexto p{
    width:max-content;
    height: max-content;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color:white;
}
#bodytres{
    display: flex;
    flex-direction: column;
    gap:2rem;
    margin-bottom: 3rem;
    max-width: 120rem;
    margin: 0 auto;
}
#tituloshop {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

.containermenu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,auto));
    grid-gap: 1.5 rem; 
    align-items: center;
}
.box{
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #feeee7;
    padding: 20px;
    border-radius: 0.5rem;
}
.img-producto{
    width: 200px;
    height:200px ;
}
.img-producto img{
    width: 100%;
    height: 100%;
}
.box h2{
    font-size: 1.3rem;
    color:black;
}
.box h3{
    color:#ff702a;
    font-size:1rem;
    font-weight: 400;
    margin: 4px 0 10px;
}
box span{
    font-size: 1rem;
    color:black;
    font-weight:500 ;

}
.box .bx{
    background: #ff702a;
    position: absolute;
    right: 0;
    top:0;
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 0 0.5rem 0 0.5rem;
}
